.skills {
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.skills h3 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: hsl(123, 89%, 14%);
}

.skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.skills li {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
    max-width: calc(50% - 20px); /* Half width minus spacing for two items per row */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* Skill item hover effect */
.skills li:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}

.icon {
    font-size: 3rem;
    color: #007bff;
    margin-bottom: 10px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #0056b3;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .skills ul {
        justify-content: space-between; /* Ensures space between items */
    }

    .skills li {
        max-width: calc(50% - 10px); /* Allows two items per row */
        margin-bottom: 15px;
        font-size: 1.2rem;
    }

    .icon {
        font-size: 2.5rem;
    }
}
